# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Environment
.env

# VSCode / IDE configs
.vscode/
.idea/

# OS-specific
.DS_Store

# Flask instance folder (if used)
instance/

# Virtual environment (if inside project)
venv/